:root {
	--font-family: MS Sans Serif, sans-serif;
	--bg-color: #FFFFFF;
	--primary-color: #141c3a;
	--secondary-color: #00db9d;
	--section-margin: 10rem;
	--bold-font: 700;
	--container-width: 61.8rem;
}

html {
	color: var(--primary-color);
	font-size: 17px;
}

.container {
	max-width: 900px;
	margin: auto;
}

/* --- App --- */

html {
	scroll-behavior: smooth;
	background-color: var(--bg-color);
	
}

body {
	font-family: var(--font-family);
}

/* --- End - App --- */



/* --- Navbar --- */

.nav {
	box-sizing: border-box;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.5rem;
	border-bottom: 1px solid lightgray;
	position: fixed;
	background-color: var(--bg-color);
}

.nav__item {
	text-decoration: none;
	color: var(--primary-color);
	padding-bottom: 5px;
}

.nav__item:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

.nav__item.active {
	border-bottom: 2px solid var(--secondary-color);
}

/* --- End - Navbar --- */



/* --- Hero --- */

.hero {
	margin: auto;
	display: flex;
	height: 100vh;
	text-align: center;
}

.hero__title {
	color: var(--primary-color);
	font-size: 2.33rem;
	font-weight: bold;
	margin-bottom: .7rem;
	line-height: 125%;
}

.hero__subtitle {
	margin-bottom: 1.2rem;
}

.hero__links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hero__link {
	display: inline-block;
	border: 1px solid var(--secondary-color);
	color: var(--secondary-color);
	text-decoration: none;
	border-radius: 4px;
	padding: .5rem;
}

.hero__link:hover {
	background-color: var(--secondary-color);
	color: white;
}

/* --- End - Hero --- */


/* --- About --- */

.about {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 7.5rem;
	background-color: var(--secondary-color);
	color: white;
}

.about__title {
	margin-bottom: 2rem;
	font-size: 2rem;
}

.about__content {
	font-size: 1.4rem;
	line-height: 1.5;
}

/* --- End - About --- */


/* --- Skills --- */

.skills {
	margin-top: -2rem;
	margin-bottom: 5rem;
}

.skills__cards {
	background-color: white;
	display: flex;
	justify-content: center;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skills__card {
	padding: 3rem 2rem 3rem 2rem;
	flex-grow: 1;
	text-align: center;
}

.skills__card:not(:last-child) {
	border-right: 1px solid rgb(230, 230, 230);
}

.skills__card__title {
	font-size: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.skills__card__list {
	display: flex;
	flex-direction: column;
	gap: .618rem;
	font-size: 1.2rem;
	color: rgb(60, 60, 60);
}

.skills__card__icon {
	height: 4rem;
	margin-bottom: 1rem;
}

/* --- End - Skills --- */



/* --- Projects --- */

.projects__title {
	text-align: center;
	font-size: 2rem;
	margin-top: 10rem;
	margin-bottom: 5rem;
}

.projects__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 6rem;
}

.project {
	box-sizing: border-box;
	width: 20rem;
	text-align: center;
	border: 1px solid lightgray;
	border-radius: 8px;
	padding-bottom: 1rem;
}

.project__title {
	font-size: 1.4rem;
	padding-top: 1rem;
}

.project__description {
	padding: 1rem;
	line-height: 1.5;
	margin-bottom: .25rem;
}

.project__image {
	width: calc(20rem - 3px);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.project__links {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.project__link {
	text-decoration: none;
	border: 1px solid var(--secondary-color);
	color: var(--secondary-color);
	border-radius: 4px;
	padding: .5rem;
}

.project__link:hover {
	background-color: var(--secondary-color);
	color: white;
}

/* --- End - Projects */



/* --- Contact --- */

.contact {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.contact h2 {
	text-align: center;
	font-size: 2rem;
	color: var(--primary-color);
	margin-bottom: 2rem;
}

.contact-form-container {
	border-radius: 5px;
	box-shadow: 0 3px 10px var(--secondary-shadow);
	margin: auto;
}

.contact-form-container label {
	line-height: 2.7em;
	color: var(--primary-color);
}

.contact-form-container textarea {
	min-height: 6.25rem;
	font-size: 14px;
}

.contact-form-container .input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 5px;
	border: none;
	border: 1px outset var(--primary-color);
	font-size: 0.875rem;
	outline: none;
	box-sizing: border-box;
}

.input-field::placeholder {
	padding: 0.5rem;
	color: var(--primary-color);
}

.submit-btn {
	width: 100%;
	padding: 10px;
	margin: 2rem 0;
	background-color: #fff;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	font-size: 1rem;
	transition: var(--transition);
}

.submit-btn:hover {
	background-color: var(--secondary-color);
	color: white;
	border: 2px solid var(--secondary-color);
	cursor: pointer;
}

/* --- End - Contact --- */

/* --- Footer --- */

footer {
	height: 72px;
	background-color: var(--secondary-color);
}

/* --- End - Footer --- */